@use "../abstracts/_size" as size;
@use "../abstracts/_color" as c;
@use "../abstracts/type" as type;
@use "../abstracts/_mixins" as mixins;

body {
  font-family: map-get(type.$stack, primary);
  color: map-get(c.$color, "white");
}

.title {
  color: map-get(c.$color, secondary);
  //mixins.size(3rem);
  &--main {
    margin-bottom: 1.5rem;
  }
}

a {
  text-decoration: none;
}