@forward "base/_general";
@forward "base/_reset";
@forward "base/_typography";

@forward "components/_field";
@forward "components/_logo-button";
@forward "components/_footer";
@forward "components/_burger-menu";
@forward "components/_text-carousel";
@forward "components/_animation-carousel";
@forward "components/_nav";

@forward "layout/_background-list";
@forward "layout/_intro";

@forward "utilities/_show-focused";

@import "abstracts/_variables";

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.opacity-zero {
  opacity: 0;
}
@media (max-width: 1000px) {
  .dt-only { /* Show in desktop only */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    visibility: hidden;
  }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 500;
}
a {
  text-decoration: none;
}
.sideways {
  writing-mode: vertical-rl;
  rotate: 180deg;
  margin-bottom: auto;
}

@import "marquee-text/marquee-text";
@import "steps/steps";
@import "language/language";
@import "education/education";
@import "button/slider";