$color: (
        "primary": #18565D,
        "secondary": #F4B46C,
        "light-purple": #e0e2ee,
        "school": #E0E2ED,
        "error": #FFFFFF,
        "canvas": #DFE2EE,
        "white": #FFFFFF,
        "black": #000000,
);

@each $key, $val in $color {
  .text-#{$key} {
    color: $val;
  }
  .bg-#{$key} {
    background-color: $val;
  }
}

