@import "../abstracts/variables";
@import "../abstracts/_mixins";

.steps {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content;
  margin: 0 $base-margin;
  @media (min-width: 1000px) {
    grid-template-columns: 19% 10% 1fr;
  }
  &__title {
    @include fluid-type(32.55, 58.8, 38, 69);
    color: $secondary-color;
    width: 4.3384615385em;
    line-height: 1.0689170183;
    margin-bottom: 7.125rem;
  }
  &__side-text {
    @include fluid-type(14, 18, 17, 23);
    margin-top: 2.5rem;
    justify-self: end;
    align-self: start;
    p {
      height: 10.8125rem;
    }
  }
  &__list {
    grid-column: -1/1;
    @media (min-width: 1000px) {
      grid-column: 3/4;
    }
    &__title {
      margin-bottom: 0.4375rem;
    }
    &__item {
      padding: 2.25rem 0.125rem 5.625rem;
      display: flex;
      flex-direction: column;
      border-top: white 1px solid;
      border-bottom: white 1px solid;
      justify-content: space-between;
      + .item {
        border-top: none;
        border-bottom: white 1px solid;
      }
      @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 33.33333% 1fr;
      }
    .item {
      &__title {
        @include fluid-type(14, 20.25, 26.25, 45);
        margin-bottom: 0.4375rem;
      }
      &__content {
      .content {
        &__tagline {
          @include fluid-type(26.25, 45, 26.25, 45);
          text-transform: uppercase;
          margin-bottom: 1.5625rem;
        }
        &__text {
          @include fluid-type(14, 18, 21, 27);
          font-size: 0.875rem;
          line-height: 1.3125;
        }
        &__button {
          display: inline-block;
          background: white;
          color: $primary-color;
          text-transform: uppercase;
          transition: $button__slider--transition;
          margin-top: 1.3125rem;
          padding: 1.5625rem 1.625rem 1.625rem 1.3125rem;
          &:before {
            background: $secondary-color;
          }
        }
        }
      }
      }
    }
  }
}