@import "../abstracts/variables";
.footer {
  padding: 2.3125rem 0 3.375rem;
  .marquee-text {
    margin-bottom: 3.125rem;
    color: $secondary-color;
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 29%;
    text-transform: uppercase;
  }
  .form {
    &__tagline {
      color: $secondary-color;
      margin-bottom: 1.125rem;
    }
    &__title {
      font-size: 0.875rem;
      color: white;
      margin-bottom: 1.125rem;
    }
    p, label {
      font-family: "Roboto", sans-serif;
      font-size: 0.6875rem;
      letter-spacing: 0.111em;
    }
    &__button {
      background: transparent;
      color: $secondary-color;
      border: $secondary-color 1px solid;
      font-size: 0.875rem;
      padding: 1.7857142857em 1.5714285714rem;
      text-transform: uppercase;
      text-align: left;
      transition: $button__slider--transition;
      margin-bottom: 4.375rem;
      &:after {
        content: "";
      }
      &:hover {
        color: white;
      }
      &:before {
        background: $secondary-color;
        opacity: 1;
      }
    }
  }
  small {
    display: block;
    font-family: "Roboto", sans-serif;
    line-height: 1.3em;
    font-size: 0.625rem;
    text-transform: uppercase;
    text-align: center;
    margin: 4.8125rem 4.8125rem 1rem 4.8125rem;
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
    + small {
      margin: 0;
    }
  }
  &__button {
    box-sizing: border-box;
    margin: 0 29%;
    color: $secondary-color;
    display: flex;
    background: transparent;
    border: $secondary-color 1px solid;
    font-size: 1.5rem;
    padding: 1.3125em 0 1.3125em;
    min-height: 8.9375rem;
    text-transform: uppercase;
    @media (min-width: $desktop-size) {
      //max-width: 31.25rem;
      margin: auto;
    }
  }
  &__socials {
    margin: 5rem auto;
    max-width: 31.25rem;
    display: flex;
    justify-content: space-between;
  }
}



