@use "../abstracts/_color" as c;

.nav {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-right: 2.1875rem;
    &__title {
      color: map-get(c.$color, "secondary");
      font-weight: 800;
      font-size: 1.1875rem;
      width: min-content;
      display: inline-block;
    }
    &__links {
      z-index: 1;
      text-transform: uppercase;
      box-sizing: border-box;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 50vw;
      right: 0;
      padding-right: 12.5rem;
      padding-left: 12.5rem;
      a {
        color: map-get(c.$color, "primary");
        &:visited {
          color: map-get(c.$color, "primary");
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}